<div>
    <h1>Inyeccción de cookies</h1>
    <form id="cookieForm" onsubmit="return false">
        <label>Username</label>
        <input name="username">
        <br>
        <label>Email</label>
        <input name="email">
        <input type="subnmit">
    </form>
    <button onclick="getCookie()">Ver Cookie</button>
</div>
<script src="/static/js/cookieSetter.js"></script>