<div>
    <h1>Ingrese sus datos / si es por primera vez Registrese</h1>
    {{!-- <form id="cookieForm" onsubmit="return false"> --}}
    {{!-- <form id="cookieForm" action="/session/login" method="POST"> --}}
        <form action="/api/session/login" method="POST">

        <label>Email</label>
        <input name="email">
        <br>
        {{!-- <label>Email</label> --}}
         <label>Password</label>
        {{!-- <input name="email"> --}}
        <input type="password" name="password">
        {{!-- <input type="subnmit"> --}}
           <button>Enviar</button>

    </form>
    <div>
    <a href="/api/session/github"><button>Entrar con Github </button></a>
    </div>
    {{!-- <button onclick="getCookie()">Ver Cookie</button> --}}
</div>
{{!-- <script src="/static/js/parapasport.js"></script> --}}