<!DOCTYPEhtml>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
     <li>
    <a href="http://localhost:8080/pruebas">Inicio</a>
    </li>
    <li>
    <a href="http://localhost:8080/api/products">Productos</a>
    </li>
    <li>
    <a href="http://localhost:8080/api/usuarios">Usuarios</a>
    </li>
    <li>
    <a href="http://localhost:8080/api/usuarios">Carrito</a>
    </li>
    <li>
    <a href="http://localhost:8080/register"> Register</a>
    </li>
    <li>
    <a href="http://localhost:8080/api/session/logout">Logout</a>
    </li>
    <li>
    <a href="http://localhost:8080/login">Login</a>
    </li>
    {{{body}}}
</body>
</html>